table,
td,
th {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    border-collapse: collapse;
    padding: 7px;
    border-left: 0;
    border-right: 0;
    &:first-child {
        border-left: 1px solid #dfdfdf;
    }
    &:last-child {
        border-right: 1px solid #dfdfdf;
    }
}
//table {
//    border-radius: 4px;
//}
